@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.lighter-text {
  color: #000;
}
.main-color-text {
  color: #000;
  font-weight: bolder;
}

.container {
  position: relative;
  top: 16px;
  margin: auto;
  width: 80%;
}
.badge {
  background-color: #f00;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.shopping-cart {
  margin: 20px 0;
  float: right;
  background: #fff;
  width: 320px;
  min-width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  max-height: 330px;
  overflow-y: auto;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  background-color: #fff;
}
.shopping-cart-total {
  margin-top: 30px;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}
.item-name {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bolder;
  color: #000;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-price {
  color: #000;
  font-weight: bolder;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #abb0be;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}
.button {
  background: #f00;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: rgba(255, 0, 0, 0.911);
}

.product-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  overflow-x: hidden;
}

.product-image {
  min-width: 120px;
  max-width: 120px;
  min-height: 130px;
  max-height: 130px;
}

.noselect {
  width: 110px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

button,
button span {
  transition: 200ms;
}

button .text {
  transform: translateX(10px);
  color: white;
  font-weight: bold;
}

button .icon {
  position: absolute;
  transform: translateX(70px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  width: 15px;
  fill: #eee;
}

button:hover {
  background: #ff3636;
}

button:hover .text {
  color: transparent;
}

button:hover .icon {
  width: 112px;
  border-left: none;
  transform: translateX(0);
}

button:focus {
  outline: none;
}

button:active .icon svg {
  transform: scale(0.8);
}
